html {
    font-size: 12pt;
}
body {
    background-color: #EEEEEE;
}

button.schneider-green {
    background-color: rgb(61, 205, 88) !important;
    width: 100%;
}

.my-margin-top {
    margin-top: 15%;
}